name: Image
on:
  workflow_call:
    inputs:
      suffix:
        description: 'The tag subfix to use'
        required: true
        type: string
      dockerfile:
        description: 'The Dockerfile to use'
        required: false
        type: string
      quay_username:
        description: 'Quay username for pushing images'
        required: false
        type: string
    secrets:
        QUAY_PASSWORD:
            description: 'Quay password for pushing images'
            required: false

jobs:
  build-push-digest:
    name: Image Build and Push
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: linux/amd64
            runner: ubuntu-latest
            tag: amd64
          - arch: linux/arm64
            runner: ubuntu-22.04-arm
            tag: arm64
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # TODO(yikun): add more hub image and a note on release policy for container image
        images: |
          quay.io/ascend/vllm-ascend
        # Note for test case
        # https://github.com/marketplace/actions/docker-metadata-action#typeref
        # 1. branch job pulish per main/*-dev branch commits
        # 2. main and dev pull_request is build only, so the tag pr-N-openeuler is fine
        # 3. only pep440 matched tag will be published:
        #    - v0.7.1 --> v0.7.1-openeuler
        #    - pre/post/dev: v0.7.1rc1-openeuler/v0.7.1rc1-openeuler/v0.7.1rc1.dev1-openeuler/v0.7.1.post1-openeuler, no latest
        #      which follow the rule from vLLM with prefix v
        # TODO(yikun): the post release might be considered as latest release
        tags: |
          type=ref,event=branch,suffix=-${{ inputs.suffix }}
          type=ref,event=pr,suffix=-${{ inputs.suffix }}
          type=pep440,pattern={{raw}},suffix=-${{ inputs.suffix }}
        flavor:
          latest=false

    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Publish - Login to Quay Container Registry
      if: ${{ github.event_name == 'push' && github.repository_owner == 'vllm-project' }}
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ inputs.quay_username }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v6
      id: build
      with:
        platforms: ${{ matrix.arch }}
        # use the current repo path as the build context, ensure .git is contained
        context: .
        file: ${{ inputs.dockerfile || 'Dockerfile' }}
        # only trigger when tag, branch/main push
        push: ${{ github.event_name == 'push' && github.repository_owner == 'vllm-project' }}
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false

    - name: Export digest
      run: |
        mkdir -p ${{ runner.temp }}/digests
        digest="${{ steps.build.outputs.digest }}"
        touch "${{ runner.temp }}/digests/${digest#sha256:}"
    - name: Upload digest
      uses: actions/upload-artifact@v4
      with:
        name: digests-${{ inputs.suffix }}-${{ matrix.tag }}
        path: ${{ runner.temp }}/digests/*
        if-no-files-found: error
        retention-days: 1


  # merge-image:
  #   runs-on: ubuntu-latest
  #   needs: build-push-digest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Download digests
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: ${{ runner.temp }}/digests
  #         pattern: digests-${{ github.sha }}-*
  #         merge-multiple: true

  #     - name: Login to Quay
  #       uses: docker/login-action@v3
  #       with:
  #         registry: quay.io
  #         username: ${{ inputs.quay_username }}
  #         password: ${{ secrets.QUAY_PASSWORD }}

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Prepare tags
  #       id: prepare-tags
  #       run: |
  #         BASE_TAGS=$(jq -r --arg cann_tag "${{ inputs.cann_tag }}" \
  #           '.versions[] | select(.path == "cann/" + $cann_tag) | .tags[]' \
  #           cann_publish_version.json)
  #         registries=(
  #           "docker.io/ascendai/cann"
  #           "quay.io/ascend/cann"
  #         )
  #         first=true
  #         TAGS_JSON="["
  #         for registry in "${registries[@]}"; do
  #           for tag in $(echo "$BASE_TAGS" | tr ',' ' '); do
  #             if [ "$first" != true ]; then
  #               TAGS_JSON+=","
  #             fi
  #             TAGS_JSON+="\"${registry}:${tag}\""
  #             first=false
  #           done
  #         done
  #         TAGS_JSON+="]"
  #         echo "tags=${TAGS_JSON}" >> $GITHUB_OUTPUT

  #     - name: Create manifest list and push
  #       working-directory: ${{ runner.temp }}/digests
  #       env:
  #         TAGS: ${{ steps.prepare-tags.outputs.tags }}
  #       run: |
  #         readarray -t TAGS_ARRAY <<< "$(echo "$TAGS" | jq -r '.[]')"

  #         for TAG in "${TAGS_ARRAY[@]}"; do
  #           if [[ "$TAG" == *"quay.io/ascend/cann"* ]]; then
  #             docker buildx imagetools create -t "$TAG" \
  #               $(printf 'quay.io/ascend/cann@sha256:%s ' *)
  #           elif [[ "$TAG" == *"docker.io/ascendai/cann"* ]]; then
  #             docker buildx imagetools create -t "$TAG" \
  #               $(printf 'docker.io/ascendai/cann@sha256:%s ' *)
  #           else
  #             echo "Error: Unknown registry in TAG: $TAG"
  #             exit 1
  #           fi
  #         done