# This is a docker build check and publish job:
# 1. PR Triggered docker image build check
#   - is for image build check
#   - Enable on main/*-dev branch
#   - push: ${{ github.event_name != 'pull_request' }} ==> false
# 2. branches push trigger image publish
#   - is for branch/dev/nightly image
#   - commits are merge into main/*-dev  ==> vllm-ascend:main / vllm-ascend:*-dev
# 3. tags push trigger image publish
#   - is for final release image
#   - Publish when tag with v* (pep440 version)  ===>  vllm-ascend:v1.2.3 / vllm-ascend:v1.2.3rc1
name: Image
on:
  workflow_call:
    inputs:
      tag:
        description: 'The tag to build'
        required: false
        type: string
      dockerfile:
        description: 'The Dockerfile to use'
        required: false
        type: string
      push:
        description: 'Whether to push the built image'
        required: false
        type: boolean
        default: false
    secrets:
        QUAY_PASSWORD:
            description: 'Quay password for pushing images'
            required: false
    vars:
        QUAY_USERNAME:
            description: 'Quay username for pushing images'
            required: false

# only cancel in-progress runs of the same workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-push-digest:
    name: Image Build and Push
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: linux/amd64
            runner: ubuntu-latest
            tag: amd64
          - arch: linux/arm64
            runner: ubuntu-22.04-arm
            tag: arm64
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          quay.io/ascend/vllm-ascend
        tags: ${{ inputs.tag }}-${{ matrix.tag }}
        flavor:
          latest=false

    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Publish - Login to Quay Container Registry
      if: ${{ inputs.push && github.repository_owner == 'vllm-project' }}
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ vars.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push A2
      uses: docker/build-push-action@v6
      id: build
      with:
        platforms: ${{ matrix.arch }}
        # use the current repo path as the build context, ensure .git is contained
        context: .
        file: Dockerfile
        # only trigger when tag, branch/main push
        push: ${{ github.event_name == 'push' && github.repository_owner == 'vllm-project' }}
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false

    - name: Export digest
      run: |
        mkdir -p ${{ runner.temp }}/digests
        digest="${{ steps.build.outputs.digest }}"
        touch "${{ runner.temp }}/digests/${digest#sha256:}"
    - name: Upload digest
      uses: actions/upload-artifact@v4
      with:
        name: digests-${{ github.sha }}-${{ matrix.tag }}
        path: ${{ runner.temp }}/digests/*
        if-no-files-found: error
        retention-days: 1


  # push-image:
  #   runs-on: ubuntu-latest
  #   needs: build-push-digest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Download digests
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: ${{ runner.temp }}/digests
  #         pattern: digests-${{ github.sha }}-*
  #         merge-multiple: true

  #     - name: Login to Quay
  #       uses: docker/login-action@v3
  #       with:
  #         registry: quay.io
  #         username: ${{ secrets.QUAY_USERNAME }}
  #         password: ${{ secrets.QUAY_TOKEN }}

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3

  #     - name: Prepare tags
  #       id: prepare-tags
  #       run: |
  #         BASE_TAGS=$(jq -r --arg cann_tag "${{ inputs.cann_tag }}" \
  #           '.versions[] | select(.path == "cann/" + $cann_tag) | .tags[]' \
  #           cann_publish_version.json)
  #         registries=(
  #           "docker.io/ascendai/cann"
  #           "quay.io/ascend/cann"
  #         )
  #         first=true
  #         TAGS_JSON="["
  #         for registry in "${registries[@]}"; do
  #           for tag in $(echo "$BASE_TAGS" | tr ',' ' '); do
  #             if [ "$first" != true ]; then
  #               TAGS_JSON+=","
  #             fi
  #             TAGS_JSON+="\"${registry}:${tag}\""
  #             first=false
  #           done
  #         done
  #         TAGS_JSON+="]"
  #         echo "tags=${TAGS_JSON}" >> $GITHUB_OUTPUT

  #     - name: Create manifest list and push
  #       working-directory: ${{ runner.temp }}/digests
  #       env:
  #         TAGS: ${{ steps.prepare-tags.outputs.tags }}
  #       run: |
  #         readarray -t TAGS_ARRAY <<< "$(echo "$TAGS" | jq -r '.[]')"

  #         for TAG in "${TAGS_ARRAY[@]}"; do
  #           if [[ "$TAG" == *"quay.io/ascend/cann"* ]]; then
  #             docker buildx imagetools create -t "$TAG" \
  #               $(printf 'quay.io/ascend/cann@sha256:%s ' *)
  #           elif [[ "$TAG" == *"docker.io/ascendai/cann"* ]]; then
  #             docker buildx imagetools create -t "$TAG" \
  #               $(printf 'docker.io/ascendai/cann@sha256:%s ' *)
  #           else
  #             echo "Error: Unknown registry in TAG: $TAG"
  #             exit 1
  #           fi
  #         done