name: 'image / nightly / Ubuntu / a3'

on:
  schedule:
    - cron: '0 0 * * *'  # daily at 08:00 UTC+8
  workflow_dispatch: 
# This is the docker image build workflow for nightly CI, no PR trigger, no tag/branch push trigger.
# With Mooncake ais_bench and a fixed version of vLLM(v0.11.0) Integrated.
jobs:

  build:
    name: nightly image build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout vllm-project/vllm repo
      uses: actions/checkout@v4
      with:
        repository: vllm-project/vllm
        ref: v0.11.0
        fetch-depth: 1

    - name: Checkout Mooncake repo
      uses: actions/checkout@v4
      with:
        repository: AscendTransport/Mooncake
        ref: 8fce1ffab3930fec2a8b8d3be282564dfa1bb186
    
    - name: Checkout aisbench repo
      run: |
          git clone -b v3.0-20250930-master https://gitee.com/aisbench/benchmark.git

    - name: Print
      run: |
        lscpu

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
            quay.io/ascend/vllm-ascend
        tags: |
            nightly-a3


    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Build - Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build - Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Publish - Login to Quay Container Registry
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ vars.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push a3
      uses: docker/build-push-action@v6
      with:
        platforms: >-
          ${{
              github.repository_owner == 'vllm-project' &&
              'linux/amd64,linux/arm64' ||
              'linux/amd64'
          }}
        context: ./tests/e2e/nightly/multi_node/scripts/
        file: Dockerfile.a3
        # only trigger when tag, branch/main push
        push: ${{ github.repository_owner == 'vllm-project' }}
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false

