name: 'image / Ubuntu / a3 / workflow_dispatch'
# This is a docker build check and publish job:
# 1. PR Triggered docker image build check
#   - is for image build check
#   - Enable on main/*-dev branch
#   - push: ${{ github.event_name != 'pull_request' }} ==> false
# 2. branches push trigger image publish
#   - is for branch/dev/nightly image
#   - commits are merge into main/*-dev  ==> vllm-ascend:main / vllm-ascend:*-dev
# 3. tags push trigger image publish
#   - is for final release image
#   - Publish when tag with v* (pep440 version)  ===>  vllm-ascend:v1.2.3 / vllm-ascend:v1.2.3rc1
on:
  workflow_dispatch:
    

# only cancel in-progress runs of the same workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    name: vllm-ascend image build
    # Only arm64 build on openEuler arm64, only amd64 build on Ubuntu amd64
    # Push event or PR with both 'ready' and 'ready-for-test' labels
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Print
      run: |
        lscpu

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # TODO(yikun): add more hub image and a note on release policy for container image
        images: |
          quay.io/wangli12345/vllm-ascend
        tags: |
            a3-ubuntu
        flavor:
          latest=false

    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Build - Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build - Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Publish - Login to Quay Container Registry
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ vars.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push 910b
      uses: docker/build-push-action@v6
      with:
        platforms: 'linux/amd64,linux/arm64'
        # use the current repo path as the build context, ensure .git is contained
        context: .
        file: Dockerfile.a3
        # only trigger when tag, branch/main push
        push: true
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false
