name: 'image / nightly / Ubuntu / a3'

on:
  schedule:
    - cron: '0 0 * * *'  # daily at 08:00 UTC+8
  workflow_dispatch: 
# This is the docker image build workflow for nightly CI, no PR trigger, no tag/branch push trigger.
# With Mooncake ais_bench and a fixed version of vLLM(v0.11.0) Integrated.
jobs:

  build:
    name: nightly image build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile.a3
            tag_suffix: nightly-a3
          - dockerfile: Dockerfile
            tag_suffix: nightly-a2
    steps:

    - name: Print
      run: |
        lscpu

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
            quay.io/ascend/vllm-ascend
        tags: |
            ${{ matrix.tag_suffix }}
        flavor:
          latest=false


    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Build - Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build - Set up Docker Buildx
      uses: docker/setup-buildx-action@v3


    - name: Build and push a3
      uses: docker/build-push-action@v6
      with:
        platforms: >-
          ${{
              github.repository_owner == 'vllm-project' &&
              'linux/amd64,linux/arm64' ||
              'linux/amd64'
          }}
        context: ./tests/e2e/nightly/multi_node/scripts/
        file: ${{ matrix.dockerfile }}
        # only trigger when tag, branch/main push
        push: ${{ github.repository_owner == 'vllm-project' }}
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
        provenance: false

